<div class="text-center mt-5 mb-5">
    <h1>Thank you!</h1>
    <div class="border"><%= image_tag('22623651.jpg', size: '500x350', class:"d-block mx-auto") %></div>
    <p class="mt-5">お問い合わせいただきありがとうございました。</p>
</div>