<div class="text-center mt-5 mb-5">
    <h4>Thaank you!</h4>
    <div class="d-flex align-items-center border"><%= image_tag('22623651.jpg', size: '500x350') %></div>
    <p>お問い合わせいただきありがとうございました。</p>
</div>