@import '~bootstrap/scss/bootstrap';

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 18px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 18px;
}

